<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>INF 560 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}"  rel="stylesheet">
   <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}"  rel="stylesheet">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 600px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #floating-panel {
    position: absolute;
    top: 20px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  #floating-panel {
    background-color: #fff;
    border: 1px solid #999;
    left: 25%;
    padding: 5px;
    position: absolute;
    top: 80px;
    z-index: 5;
  }
</style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Forseti</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item ">
        <a class="nav-link" href="/index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Detail
      </div>



      <!-- Nav Item - Tables -->

      {% if data.terminal=='Terminal1' %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item ">
      {% endif %}
        <a class="nav-link" href="/detail/T1/_">
          <i class="fas fa-fw fa-dice-one"></i>
          <span>Terminal 1 </span></a>
      </li>
       <!-- Nav Item - Tables -->
      {% if data.terminal=='Terminal2' %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item ">
      {% endif %}
        <a class="nav-link" href="/detail/T2/_">
          <i class="fas fa-fw fa-dice-two"></i>
          <span>Terminal 2</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form  class="navbar-nav ml-auto d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search ">
            <div class="input-group">
              <select class="custom-select" id="week">
                <option value="0">Monday</option>
                <option value="1">Tuesday</option>
                <option value="2">Wednesday</option>
                <option value="3">Thursday</option>
                <option value="4">Friday</option>
                <option value="5">Saturday</option>
                <option value="6">Sunday</option>
              </select>
              <select class="custom-select col-xl-4 " id="hour">
                <option value="1">0:00-2:00</option>
                <option value="2">2:00-4:00</option>
                <option value="3">4:00-6:00</option>
                <option value="4">6:00-8:00</option>
                <option value="5">8:00-10:00</option>
                <option value="6">10:00-12:00</option>
                <option value="7">12:00-14:00</option>
                <option value="8">14:00-16:00</option>
                <option value="9">16:00-18:00</option>
                <option value="10">18:00-20:00</option>
                <option value="11">20:00-22:00</option>
                <option value="12">22:00-0:00</option>
              </select>
               <select class="custom-select" id="category">
                <option value="0">Frequent Flyers</option>
                <option value="1">One-time Flyers</option>
                <option value="3">All</option>
              </select>
              <div class="input-group-append">
                <button onclick="submitForm()" class="btn btn-primary" type="button">Apply</button>
              </div>
            </div>
          </form>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{data.terminal}} Analyze</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Eating</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.eating}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-utensils fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Shopping</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.shopping}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Waiting</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{data.waiting}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-hourglass fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- Bar Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Pie Chart</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="PieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i>  Eating
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Shopping
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Waiting
                    </span>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Content Row -->
          <div class="row">
            <div class="col-lg-12 mb-4">
              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Heat Map</h6>
                </div>
                <div class="card-body">
                  <div id="floating-panel">
                    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
                    <button onclick="changeData('A')">All</button>
                    <button onclick="changeData('E')">Eating</button>
                    <button onclick="changeData('W')">Waiting</button>
                    <button onclick="changeData('S')">Shopping</button>

                  </div>
                  <div id="map"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Team Forseti 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var serverData={{data|tojson}}
    document.getElementById('week').value=serverData.week;
    document.getElementById('hour').value=serverData.hour;
    document.getElementById('week').value=serverData.week;
    document.getElementById('category').value=serverData.category;

    function submitForm() {
      t="T1";
      console.log(document.getElementById('week').value)
      if (serverData.terminal=='Terminal1') t="T1";
      if (serverData.terminal=='Terminal2') t="T2";

      self.location='/detail/'+t+'/'+document.getElementById('week').value+'_'+ document.getElementById('hour').value+'_'+ document.getElementById('category').value;
      return false
    }

  </script>

   <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

      var map, heatmap;
      dataE=serverData.dataSet.eating;
      dataW=serverData.dataSet.waiting;
      dataS=serverData.dataSet.shopping;
      dataA=[];
      dataA=dataA.concat(dataE,dataW,dataS)

      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center:{lat: parseFloat(dataA[0].lat), lng:parseFloat(dataA[0].lng)},
          mapTypeId: 'satellite'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }

      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }

      // Heatmap data: 500 Points
      function getPoints() {

         function json2MapData(data) {
            result=[]
            for(loc of data){
              r=new google.maps.LatLng(loc.lat, loc.lng)
              result.push(r)
            }
            return result
          }
        return json2MapData(dataA);
      }
       function changeData(flag) {
        function json2MapData(data) {
          console.log(data)
            result=[]
            for(loc of data){
              r=new google.maps.LatLng(loc.lat, loc.lng)
              result.push(r)
            }
            return result
          }
         if(flag=="A") heatmap.setData( json2MapData(dataA));
         if(flag=="S") heatmap.setData( json2MapData(dataS));
         if(flag=="E") heatmap.setData( json2MapData(dataE));
         if(flag=="W") heatmap.setData( json2MapData(dataW));
      }


    </script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAf_qPpBJ1df8iCbHyL665WfjZvy18un0&libraries=visualization&callback=initMap">
    </script>

  <!-- Bootstrap core JavaScript-->
<!--  <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>-->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Page level custom scripts -->
<!--  <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>-->
  <script src="{{ url_for('static', filename='js/demo/chart-pie-demo2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/demo/chart-bar-demo2.js') }}"></script>

</body>

</html>
